option_settings:
  - option_name: NPM_USE_PRODUCTION
    value: false

option_settings:
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    EC2KeyName: "AWS EC2"
  aws:elasticbeanstalk:environment:
    ServiceRole: "aws-elasticbeanstalk-service-role"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced