option_settings:
  aws:elasticbeanstalk:application:environment:
    NPM_USE_PRODUCTION: false  
  aws:elasticbeanstalk:container:nodejs:
    NodeCommand: "npm start"
  aws:autoscaling:launchconfiguration:
    IamInstanceProfile: "aws-elasticbeanstalk-ec2-role"
    EC2KeyName: "AWS EC2"
  aws:elasticbeanstalk:environment:
    ServiceRole: "aws-elasticbeanstalk-service-role"
  aws:elasticbeanstalk:healthreporting:system:
    SystemType: enhanced