DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=luther007
REPOSITORY_NAME='jenkins-eks-automated-feature'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

NAMESPACE='feature'

CONFIGMAPS=()
SECRETS=()
SERVICES=(minimal-production)
INGRESSES=()
DEPLOYMENTS=(minimal-production)
JOBS=()
BLOCKING_JOBS=()

HELM_CHARTS=('charts/puppet-pipeline-test')
HELM_RELEASE_NAMES=('mike')
HELM_VALUES=('charts/puppet-pipeline-test')
HELM_TIMEOUTS=('600')