DOCKERFILE='Dockerfile'

EXTERNAL_REGISTRY_BASE_DOMAIN=luther007
REPOSITORY_NAME='jenkins-eks-automated'
DOCKERTAG=${EXTERNAL_REGISTRY_BASE_DOMAIN}/${REPOSITORY_NAME}

CLUSTER_NAME='cynerge-cluster-6'
NAMESPACE='staging'

HELM_CHARTS=('charts/puppet-pipeline-test')
HELM_RELEASE_NAMES=('mike-feature')
HELM_VALUES=('feature/app')
HELM_TIMEOUTS=('600')